apiVersion: apps/v1
kind: Deployment
metadata:
  name: single-mongodb-deployment
  namespace: default
  labels:
    component: mongodb
    resiliency: single
spec:
  replicas: 1
  selector:
    matchLabels:
      component: mongodb
      resiliency: single
  template:
    metadata:
      labels:
        component: mongodb
        resiliency: single
    spec:
      containers:
        - name: mongodb
          image: mongo:4.2.17-bionic
          imagePullPolicy: IfNotPresent
          ports:
            - name: mongodb
              containerPort: 27017
          volumeMounts:
            - name: mongodb-data
              mountPath: /data/db
            - name: mongodb-config
              mountPath: /data/configdb
      volumes:
        - name: mongodb-data
          persistentVolumeClaim:
            claimName: single-mongodb-data-pvc
        - name: mongodb-config
          persistentVolumeClaim:
            claimName: single-mongodb-config-pvc