apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: single-mongodb-config-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1G
  storageClassName: manual